# Created by .ignore support plugin (hsz.mobi)
# OS X
.DS_Store*
Icon?
._*
.idea

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
/node_modules
package-lock.json
*.log
*.gz
/logs

# Coveralls
coverage

# Benchmarking
benchmarks/graphs

# env
.env

# localhost ssl
localhost.crt
localhost.key
